.container {
   flex: 1;
   margin-left: 1rem;
}

.header {
   color: #FFF;
   font-size: 2rem;
   font-weight: 800;
   letter-spacing: 0.1rem;
   text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.card {
   margin: 3rem 0;
   padding: 1rem 1.5rem;

   min-height: 25rem;
   width: 100%;

   font-weight: 600;
   letter-spacing: 0.05rem;
   color: #000;

   border-radius: 10px;

   background-color: rgba(255, 255, 255, 0.5);
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

   display: flex;
   flex-direction: column;
}

.category {
   font-size: 1.2rem;
   color: #404040;
}

.types {
   width: 100%;
   margin: 1rem 0;

   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.typeContainer {}

.typeContainer>div {
   height: 40px;
   width: 40px;

   display: flex;
   align-items: center;
}

.typeValue {
   position: relative;
   top: -37.5px;
   left: 0.9rem;

   height: 35px;
   width: 4.5rem;

   border-radius: 20px;

   color: #fff;
   font-size: 0.6rem;
   font-weight: 300;
   background-color: #404040;

   display: flex;
   justify-content: flex-end;
   align-items: center;
}