.container {
   flex: 2;
   margin-right: 1rem;
}

.header {
   color: #FFF;
   font-size: 2rem;
   font-weight: 800;
   letter-spacing: 0.1rem;
   text-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.card {
   margin: 3rem 0;
   margin-right: 0rem;
   padding: 1rem 3.5rem;

   min-height: 18rem;
   width: 100%;

   font-weight: 600;
   letter-spacing: 0.05rem;
   color: #000;

   border-radius: 10px;

   background-color: rgba(255, 255, 255, 0.5);
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;

   display: flex;
   flex-direction: column;
   justify-content: center;
}

.row {
   margin: 0.5rem 0;
   width: 100%;

   display: flex;
}

.label {
   width: 5.5rem;

   color: #404040;
   display: inline-block;
}

.value {
   margin: 0 1rem;
   width: 2.5rem;
   color: #666666;
}

.chartContainer {
   /* height: 1rem; */
   width: 100%;

   display: flex;
   align-items: center;
}

.chart {
   height: 0.8rem;
   border-radius: 4px;
   border: 1px solid #000;
   /* filter: saturate(150%); */
}